**/.idea
**/__pycache__
**/files
**/README.md
**/temp
**/log_file.log
**/logs.py
**/temp
**/log_file.log
**/services
**/frontend/
**/templates/
**/venv/
/.logstore
**/PF-Minio-Vol/
**/PF-Mongo-Vol/
**/.logstore
**/.vscode/
**/File-Upload-Vol/
**/Metadata-Extractor-Vol/
**/Page-Splitter-Vol/
**/Text-Extractor-Vol/
